<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ralk" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RALK" >
        <activity
            android:name=".cus.customerMainView"
            android:exported="true"
            android:label="@string/title_activity_customer_main_view"
            android:theme="@style/Theme.RALK.NoActionBar" />
        <activity android:name=".cus.activity_customer_login" />
        <activity android:name=".adminlogin" />
        <activity android:name=".admin" />
        <activity android:name=".aorder"/>
        <activity android:name=".add_delivery"/>
        <activity android:name=".delivery"/>
        <activity android:name=".empDetails"/>


        <activity android:name=".aorderadapter"
            tools:ignore="Instantiatable" />

        <activity android:name=".cus.activity_customer_signup" />
        <activity android:name=".deliver_profile" />
        <activity android:name=".LoginDeliveryManager" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>